* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-principal);
}

:root {
    --cor-principal: #9193c1;
    --cor-segundaria: #003459;
    --cor-fonte: #eeee;
    --fonte-intensidade: 400;
}

/* responsavidade para computadores */

/* responsavidade para tables */


/* navbar menu para mobile */
.navbar-mobile {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--cor-segundaria);
    height: 55px;
}

/* icon do navbar */

.navbar-mobile #icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 25px;
    margin-right: 50px;
    cursor: pointer;
    
    color: var(--cor-fonte);
}

/* texto do navbar */

.navbar-mobile .aba-inicio h1 a {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    text-decoration: none;
    font-weight: 400;

    color: var(--cor-fonte);   
}

/* containers */

/* container de rascunho */
.container-vermelho {
    background-color: red;
    margin: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* container que será ser utilizado realmente */
.container-padrao {
    margin: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Boas vindas*/
.container-vermelho #boas-vindas h1{
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: var(--fonte-intensidade);
    color: var(--cor-fonte);
}

.ola {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 7px;

}

/* menu hamburuger mobile */
.navegacao {
    display: none;
}

.navegacao.ativo {
    display: block;
}

/* breve sinopse - Titulo */
.titulo h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--cor-fonte);
    font-weight: var(--fonte-intensidade);
    font-size: 25px;

    margin: 45px;
}

/* breve sinopse texto */
#text-breve-sinopse h2 {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--cor-fonte);
    font-weight: var(--fonte-intensidade);
    font-size: 25px;

    padding: 25px;
}

/* tag a do texto "breve sinopse" */

